:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
  font-size: 14px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 1.5rem 1rem;
  background-color: var(--cream);
  font-family: "Montserrat", sans-serif;
  color: var(--dark-grayish-blue);
  font-weight: 500;
  height: 100vh;
}

main {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.5rem;
  font-family: "Fraunces", serif;
  line-height: 1;
  margin-bottom: 1.5rem;
  color: var(--very-dark-blue);
}

.product-image-container {
  width: 100%;
  height: 250px;
  background-image: url(./images/image-product-mobile.jpg);
  border-radius: 10px 10px 0 0;
}

.leading-text {
  margin-bottom: 1rem;
  letter-spacing: 3px;
}

.product-image {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.product-info {
  padding: 2rem 1rem 0;
  background-color: var(--White);
  border-radius: 0 0 10px 10px;
}

.product-description {
  margin-bottom: 2rem;
  font-weight: normal;
  line-height: 1.5;
}

.price-container {
  margin-bottom: 1rem;
}

.price.discounted {
  color: var(--dark-cyan);
  font-size: 2rem;
  font-family: Fraunces;
  margin-right: 1rem;
}

.price.previous {
  text-decoration: line-through;
}

.add-to-cart {
  display: block;
  margin-bottom: 1.2rem;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background-color: var(--dark-cyan);
  color: var(--White);
}

.add-to-cart i {
  margin-right: 5px;
}

.add-to-cart:hover {
  cursor: pointer;
  background-color: hsl(158, 45%, 14%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 576px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main {
    flex-direction: row;
    width: 576px;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 430px;
  }

  .product-image-container {
    width: 50%;
    height: 100%;
    background-image: url(./images/image-product-desktop.jpg);
    background-size: cover;
    border-radius: 10px 0 0 10px;
  }

  .product-info {
    padding: 3rem 2rem 0;
    background-color: var(--White);
    border-radius: 0 10px 10px 0;
    width: 50%;
    height: 100%;
  }

  footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 1rem;
  }
}
